{% extends "categorias/index.html" %}


{% block titulo %}
<h1 class="display-5 fw-bolder text-white mb-2">Accesorios</h1>
<p class="lead text-white-50 mb-4">Podes adquirir los siguientes accesorios para tu mascota</p>                               
{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Accesorios</h2></td>
        <td>
            <a
            href="{% url 'accesoriosCreate' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
            <a
            href="{% url 'buscarAccesorios' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Valor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for a in accesorios_list  %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.nombre }}</td>
            <td>{{ a.valor }}</td> 
            <td>
                <a
                  href="{% url 'accesoriosUpdate' a.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'accesoriosDelete' a.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>              
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}