{% extends "categorias/index.html" %}


{% block titulo %}
<h1 class="display-5 fw-bolder text-white mb-2">Acerca de mi</h1>                                 
{% endblock titulo %}


{% block contenido %}  

<h3>Un poco acerca de quien soy...</h3>
<br>
<p>Mi nombre es Ayelen Perez Benary, tengo 33 años. Vivo con mi pareja y tenemos dos perros, Ananda y Tobi, que son como nuestros hijos. Amamos viajar y disfrutar de amigos y la familia.</p>
<br>
<p>Soy docente de Matemática, comencé a programar hace 2 años, primero en búsqueda de un cambio profesional. Actualmente trabajo en una emrpesa como administrativa y sigo el camino de la ciberseguridad y programación porque me encanta!</p>


{% endblock contenido %}