{% extends "categorias/index.html" %}


{% block titulo %}
<h1 class="display-5 fw-bolder text-white mb-2">Clientes</h1>
<p class="lead text-white-50 mb-4">Quienes confian en nosotros</p>                               
{% endblock titulo %}


{% block contenido %}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Nombre de mascota</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for c in clientes_list  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.apellido }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.nombre_mascota }}</td> 
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}